@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">The Lord of the Rings</h1>
    <p>Author: Emanueli Camila Ubiali Monteiro</p>
    <p>The current date and time is @DateTime.Now</a>.</p>
    <h2>The Lord of the Rings is an epic high-fantasy novel by English author and scholar J. R. R. 
    Tolkien. Set in Middle-earth, intended to be Earth at some distant time in the past, the story began 
    as a sequel to Tolkien's 1937 children's book The Hobbit, but eventually developed into a much larger 
    work. Written in stages between 1937 and 1949, The Lord of the Rings is one of the best-selling books
     ever written, with over 150 million copies sold.</h2>

    <p>1. The Fellowship of the Ring</p>
    <p>2. The Two Towers</p>
    <p>3. The Return of the King</p>	

</div>
